[submodule "glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vk-bootstrap"]
	path = vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "fastgltf"]
	path = fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
